/* Các css chung */
.no-wrap-text {
    white-space: nowrap;
}

/* Navigation */

.header__nav {
    --header-width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: var(--header-width);
    height: var(--header-height);
    background-color: var(--main-color);
    z-index: 10;
}

.header__nav-logo {
    width: 7.3rem;
}

.header__nav-navigation {
    position: relative;
    display: flex;
    align-items: center;
}

.header__nav-list {
    margin-top: 26px;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin: 0 16px;
    transition: transform 0.2s linear;
    transform: translateY(0);
}

.header__nav-link {
    position: relative;
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.header__nav-link::after {
    content: "";
    position: absolute;
    top: 0px;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
}


.header__nav-link:hover {
    color: var(--hover-color);
}

.header__nav-item:hover {
    transform: translateY(-10px);
}

.header__nav-item:hover .header__nav-link::after {
    transform: translateY(10px);
}

/* ------------------------------------ */

/* Search and chage theme */

.header__nav-icon-search {
    position: relative;
    color: var(--header-text-color);
    font-size: 1.8rem;
    cursor: pointer;
    margin: 0 18px;
}

.header__nav-icon-search:hover {
    color: var(--hover-color);
    cursor: pointer;
}

/* ------------------------------------ */

/* Thanh search */

.header__nav-search {
    position: absolute;
    top: var(--header-height);
    left: 14px;
    right: 0px;
    display: flex;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
}

.search-bar-checkbox:checked~.header__nav-search {
    display: flex;
}

.header__nav-input-search {
    width: 100%;
    font-size: 1.6rem;
    padding: 6px 6px;
    background-color: #fff;
    border: 1px solid #999;
    border-right: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
}

.header__nav-icon-btn-search {
    padding: 10px 20px;
    color: #fff;
    font-size: 1.6rem;
    background-color: var(--main-color);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.header__nav-icon-btn-search:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

/* ------------------------------------ */
/* Change theme */


/* ---------------------------------------- */
/* Container About*/
.container {
    padding-top: var(--padding-top-container);
    padding-bottom: var(--padding-bottom-container);
    background-color: var(--background-color);
}

.container__info-box {
    padding: var(--padding-42px);

}

.container__box {
    font-style: normal;
}

.container__name {
    color: var(--text-color);
    font-size: 4.5rem;
    font-weight: 500;
    margin: 10px 0;
}

.container__name span {
    font-weight: 700;
    color: var(--main-color);
}

.margin-top-info {
    margin-top: 32px;
}

.container__info {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.container__info.normal-text {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: justify;
    color: var(--text-color);
    line-height: 2.5rem;
}

.container__image-my-self {
    width: 100%;
    height: 100%;
    background: url(/assets/img/pic_myself.JPG) top center / cover no-repeat;
}

.container__myself {
    overflow: hidden;
}

.container__myself-row:nth-child(1) {
    border-bottom: 2px solid var(--text-footer-color);
}

.container__myself-title {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 12px 0;
    color: var(--text-color);
}

.container__myself-list {
    list-style: none;
    padding-left: 47px;
    margin: 20px 0;
}

.container__myself-item {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 5px 0;
    text-transform: uppercase;
}

.container__myself-item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -22px;
    width: 15px;
    height: 15px;
    background: url(/assets/img/crown_list_style.png) top center / cover no-repeat;
}

.container__contact {
    position: relative;
    padding-top: var(--padding-top-contact);
}

.container__contact::before {
    content: "";
    position: absolute;
    bottom: 114px;
    width: 100%;
    height: 2px;
    background-color: var(--text-footer-color);
}

.container__social-title {
    position: absolute;
    right: -11px;
    left: -10px;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: var(--padding-social-title) 0;
    color: var(--main-color);
    background-color: currentColor;
}

.container__social-title span {
    color: var(--background-color);
}

.container__social-title::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-top: 10px solid currentColor;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    filter: brightness(40%);
}

.container__social-title::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-right: 10px solid currentColor;
    border-top: 10px solid transparent;
    filter: brightness(40%);
}

.container__social-list.padding-top {
    position: relative;
    padding-top: var(--padding-social-list);
    margin: 0 40px;
    list-style: none;
}

.container__social-list.no-padding-top {
    position: relative;
    margin: 0 40px 40px 40px;
    list-style: none;
}

.container__social-item {
    padding: 18px 0;
}

.container__social-icon {
    position: relative;
    font-size: 1.9rem;
    color: var(--main-color);
}

.container__social-icon.fb {
    position: relative;
    padding-left: 3px;
    font-size: 1.9rem;
    color: var(--main-color);
}

.container__social-icon::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.container__social-link {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 24px;
}

.container__social-link:hover {
    color: var(--main-color);
}

/* Container work */

.container__work-about {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--background-color);
    padding: 20px 0;
}

.container__work-about-text {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container__work-timeline {
    padding: var(--padding-42px);
}

.container__work-timeline-box {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 3px;
    padding: 5px 0;
}

.container__work-ever-done {
    padding: var(--padding-42px);
}

.container__work-name {
    display: flex;
    justify-content: flex-start;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--main-color);
}

.container__-work-address {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 0;
}

.container__-work-job {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 0;
}

.container__work-info-job {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding-left: 16px;
    margin: 10px 0;

}

/* Container Project */
.container__project {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--main-color);

}

.container__project-text {
    font-size: 1.8rem;
    color: var(--background-color);
}

.container__project-des-text {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 10px;
    background-color: var(--main-color);
    font-size: 1.5rem;
    color: var(--background-color);
}

.container__project-title {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 10px 0;
    border-bottom: 1px solid var(--text-color);
    text-transform: uppercase;
}



.container__project-link {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--background-text-color);
    padding-bottom: 30px;
    margin: 10px 0;
    box-shadow: 1px 1px 5px #777;

    transition: box-shadow 0.3s linear;
}

.container__project-link:hover {
    box-shadow: 1px 1px 20px #777;

}

.container__project-image {
    position: relative;
    padding-top: 50%;
    width: 100%;
}

/* work */

.container__project-parent-image-work>.col:nth-child(1) .container__project-image {
    background: url('/assets/img/shopee_img.jpg') top center / cover no-repeat;
}

.container__project-parent-image-work>.col:nth-child(2) .container__project-image {
    background: url('/assets/img/the_band.jpg') top center / cover no-repeat;
}

.container__project-parent-image-work>.col:nth-child(3) .container__project-image {
    background: url('/assets/img/weather_img.jpg') top center / cover no-repeat;
}

.container__project-parent-image-work>.col:nth-child(4) .container__project-image {
    background: url('/assets/img/do_da_dung_img.jpg') top center / cover no-repeat;
}

/* fun */

.container__project-parent-image-fun>.col:nth-child(1) .container__project-image {
    background: url('/assets/img/shopee_img.jpg') top center / cover no-repeat;
}

.container__project-parent-image-fun>.col:nth-child(2) .container__project-image {
    background: url('/assets/img/the_band.jpg') top center / cover no-repeat;
}

.container__project-parent-image-fun>.col:nth-child(3) .container__project-image {
    background: url('/assets/img/weather_img.jpg') top center / cover no-repeat;
}

.container__project-parent-image-fun>.col:nth-child(4) .container__project-image {
    background: url('/assets/img/do_da_dung_img.jpg') top center / cover no-repeat;
}

.container__project-name {
    font-size: 2rem;
    font-weight: 600;
    margin: 30px 0;
    padding: 0 20px;
    color: var(--background-color);
    text-shadow: 1px 1px 1px #999;

}

.container__project-des {
    font-size: 1.7rem;
    margin-top: 30px;
    padding: 0 20px;
    color: var(--text-color);
    display: block;
    /* Dành cho trình duyệt không supprort */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    /* -webkit-line-clamp: 1; */
    /* display: -webkit-box; */
    /* -webkit-box-orient: vertical;*/
}

/* Container certificate */

.container__certificate-title {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--background-color);
}

.container__certificate-des {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 10px;
    background-color: var(--main-color);
    font-size: 1.5rem;
    color: var(--background-color);
}

.container__certificate-box {
    background-color: var(--background-text-color);
    padding: 20px;
    display: flex;
}

.text-align-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}

.container__certificate-link {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.container__certificate-info {
    padding: 0 20px;
}

.container__certificate-name {
    font-size: 1.5rem;
    color: var(--main-color);
}

.container__certificate-born {
    display: flex;
    margin-top: 10px;
}

.container__certificate-date {
    font-size: 1.4rem;
    
}

.container__certificate-receiving-place {
    font-size: 1.4rem;
    margin-right: 20px;

}


/* ---------------------------------------- */

/* Footer */
.footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 32px;
    background-color: #e8e8e8;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-footer-color);
}

.footer__link {
    text-decoration: none;
    color: var(--text-footer-color);
}

.footer__link:hover {
    color: var(--main-color);
}